
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601758177266-bc599de87707?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Petbnb</h1>
    <p>Find a safe and comfortable place for your pet to stay while you are away</p>
    <%= link_to 'See more', locals_path, class: "btn btn-flat" %>
  </div>
</div>
<br>
<div class="container text-center">
  <%= link_to 'My Bookings', my_bookings_path, class: "btn btn-flat-big" %>
</div>
