<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1601758177266-bc599de87707?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="banner">
                  <h1>Petbnb.</h1>
                  <p>Find a safe and comfortable place for your pet while you are away</p>
                  <%= link_to 'See more', locals_path, class: "btn btn-flat" %>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="2000" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1750&q=80);">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="banner">
                  <h1>Petbnb.</h1>
                  <p>Find a safe and comfortable place for your pet while you are away</p>
                  <%= link_to 'See more', locals_path, class: "btn btn-flat" %>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80);">
            <div class="d-flex h-100 align-items-center justify-content-center">
                <div class="banner">
                  <h1>Petbnb.</h1>
                  <p>Find a safe and comfortable place for your pet while you are away</p>
                  <%= link_to 'See more', locals_path, class: "btn btn-flat" %>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
