.bottom-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #e3d0b9;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(10, 10, 10, 0.3);
  transition-delay: 0.5s;
  line-height: 1.5;
}



